body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container-fluid {
	padding:0px;
}

section {
  width: 100vw;
  height: 100vh;
}

section:first-child {
  background-color: #48c7f2;
  animation: backgroundRotation 30s infinite linear 2s;
  display: flex;
  justify-content: center;


}
section:nth-child(2) {
  background-color: #000000;
  padding-top: 20px;
}

@keyframes backgroundRotation {
  0% { background-color: #48c7f2; }
  16.6% { background-color: #3fbf48; }
  33.3% { background-color: #f5cc02; }
  50% { background-color:  #f25d27; }
  66.6% { background-color: #ea3f34; }
  83% { background-color: #5b48d9; }
  100% { background-color: #48c7f2; }
}
svg {
  height: auto;
  width: 60vh;
}
.logo-w {
  fill: #ffffff;
}
.logo-letters {
  fill: #ffffff;
}
.slogan {
  color: #ffffff;
  position: absolute;
  top: 75vh;
  font-size: 20px;
}
 #downBtn {
  color: #ffffff;
  position: absolute;
  top: 80vh;
  font-size: 100px;
}
#downBtn:hover {
  opacity: 0.5;
  color:#ffffff !important;
}
a[ id="downBtn" ]:target ~ .gallery-container  {
    -webkit-transform: translateY( -100vh);
    transform: translateY( -100vh );
}

